@font-face {
  font-family: 'Gilroy';
  src: local('Gilroy Extra Bold'),
       url("gilroyextrabold.woff") format("woff"),
       url("gilroyextrabold.woff2") format("woff2");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: local('Gilroy Light'),
       url("gilroylight.woff") format("woff"),
       url("gilroylight.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
  }
  
/* Кнопки */
.button {
  position: relative;
  z-index: 1;
  
  display: block;
  width: 220px;
  height: 40px;

  color: #000000;
  font-family: 'Gilroy', 'Arial', sans-serif;
  font-size: 18px;
  font-weight: 800;
  letter-spacing: 3.5px;
  line-height: 40px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;

  background-color: transparent;
  border: none;
  list-style: none;
}

.button::before {
  position: absolute;
  top: 16px;
  left: 0;
  z-index: -1;

  display: block;
  content: "";
  width: 220px;
  height: 8px;

  background-color: #f0c52e;
}

.button:hover::before,
.button:focus::before {
  height: 40px;
  top: 0px;
}

.button:active {
  color: rgba(0, 0, 0 ,0.3);
}

/* Шапка сайта */
.header {
  position: relative;

  margin: 0 auto;
  margin-top: 40px;
  padding-right: 59px;
  width: 1160px;
  box-sizing: border-box;

  background-color: rgba(240, 197, 46, 0.5);
}

.navigation {
  position: relative;
  
  display: flex;
  flex-direction: column;
}

.user-navigation-wrapper {
  display: flex;
  margin-top: 42.5px;
}

.logo_header {
  position: absolute;
  left: 59px;
  top: -18px;
}

.logo:hover,
.logo:focus {
  opacity: 0.6;
}

.logo:active {
  opacity: 0.3;
}

.search,
.basket,
.footer__text,
.compare-button,
.search__button,
.user-account-button {
  color: #000000;
  font-family: 'Open Sans', 'Arial', sans-serif;
  font-size: 15px;
  font-weight: 300;
  line-height: 30px;
}

.search {
  background-color: transparent;
  border: none;
  border-bottom: 2px solid #000000;
}

.search::placeholder {
  color: rgba(0, 0, 0 ,0.3);
}

.search__button {
  background-color: transparent;
  border: 2px solid #000000;
}

.search__button:hover,
.search__button:focus {
  color: #ffffff;
  background-color: #000000;
}

.search__button:active {
  color: rgba(255, 255, 255 ,0.3);
  background-color: #000000;
}

.search:hover::placeholder,
.search:focus::placeholder {
  color: rgba(0, 0, 0 ,0.6);
}

.user-account {
  list-style: none;
}

.user-account-button,
.compare-button,
.basket {
  text-decoration: none;
}

.search-form {
  margin-right: auto;
  margin-left: 98px;
}

.user-account_header {
  margin: 0;
  padding: 0;
  margin-right: 236px;
}

.compare-button {
  margin-right: 63px;
}

.basket {
  width: 61px;
}

.navigation-list {
  display: flex;
  margin: 0;
  padding: 0;
  margin-top: 39.5px;
  margin-bottom: 20.5px;

  font-family: 'Gilroy', 'Arial', sans-serif;
  font-size: 18px;
  font-weight: 800;
  letter-spacing: 3.6px;
  line-height: 24px;
  text-transform: uppercase;

  list-style: none;
}

.navigation-list__item_header {
  margin-left: 34px;
}

.navigation-list__item_header:first-child {
  margin-left: 59px;
  margin-right: 297px;
}

.navigation-list__item_header:first-child:hover .navigation-list__inner-list {
  visibility: visible;
}

.navigation-list__item_header:last-child {
  margin-left: auto;
}

.navigation-list__link {
  color: #000000;
  text-decoration: none;
}

.navigation-list__inner-list {
  position: absolute;
  left: 0;

  box-sizing: border-box;
  display: flex;
  width: 1160px;
  margin: 0;
  margin-top: 20.5px;
  padding: 0;
  padding-left: 59px;
  visibility: hidden;
}

.catalog-menu {
  font-family: 'Open Sans', 'Arial', sans-serif;
  font-size: 15px;
  font-weight: 300;
  letter-spacing: 0.15px;
  line-height: 36px;
  text-transform: none;

  background-color: rgba(240, 197, 46, 0.5);
  list-style: none;
}

.catalog-menu__column {
  display: flex;
  flex-direction: column;
  width: 239px;
  
}

.catalog-menu__link {
  color: #000000;
  text-decoration: none;
}

.basket:hover,
.basket:focus,
.compare-button:hover,
.compare-button:focus,
.catalog-menu__link:hover,
.catalog-menu__link:focus,
.user-account-button:hover,
.user-account-button:focus,
.navigation-list__link:hover,
.navigation-list__link:focus {
  color: rgba(0, 0, 0 ,0.6);
}

.basket:active,
.compare-button:active,
.catalog-menu__link:active,
.user-account-button:active,
.navigation-list__link:active {
  color: rgba(0, 0, 0 ,0.3);
}

/* Основное содержимое */
/* Промо-слайдер с товарами*/
.promo-slider__list {
  list-style: none;
}
.promo-item__title {
  color: #000000;
  font-family: 'Gilroy', 'Arial', sans-serif;
  font-size: 47px;
  font-weight: 800;
  letter-spacing: 0.47px;
  line-height: 56px;

  list-style: none;
}

.promo-item__text {
  color: #464646;
  font-family: 'Open Sans', 'Arial', sans-serif;
  font-size: 15px;
  font-weight: 300;
  letter-spacing: 0.15px;
  line-height: 30px;
}

.promo-item-features__title {
  color: #464646;
  font-family: 'Open Sans', 'Arial', sans-serif;
  font-size: 13px;
  font-weight: 300;
  letter-spacing: 0.13px;
  line-height: 20px;
}

.promo-item-features__description {
  color: #000000;
  font-family: 'Gilroy', 'Arial', sans-serif;
  font-size: 36px;
  font-weight: 300;
  letter-spacing: 0.36px;
  line-height: 48px;
}

/* Полулярные товары */
.popular__list {
  display: flex;
  
  list-style: none;
}

.popular-item__link {
  text-decoration: none;
}

.popular-item__title {
  color: #000000;
  font-family: 'Gilroy', 'Arial', sans-serif;
  font-size: 18px;
  font-weight: 800;
  letter-spacing: 0.18px;
  line-height: 24px;
}

/* Слайдер с преимуществами компании */
.button_services-size {
  width: 160px;
}

.button_services-size::before {
  width: 160px;
}

.services-slider__list,
.services-slider-menu {
  list-style: none;
}

.services-slider-item__title {
  color: #000000;
  font-family: 'Gilroy', 'Arial', sans-serif;
  font-size: 47px;
  font-weight: 800;
  letter-spacing: 0.21px;
  line-height: 48px;
}

.services-slider-item__text {
  color: #464646;
  font-family: 'Open Sans', 'Arial', sans-serif;
  font-size: 15px;
  font-weight: 300;
  letter-spacing: 0.15px;
  line-height: 30px;
}

.services-slider-menu__link:active {
  color: #f7e184;
}

.services-slider-menu__link:active::before {
  width: 278px;
  background-color: #000000;
}

/* Логотипы партнеров*/
.logotypes__list {
  list-style: none;
}

.section-wrapper {
  display: flex;
}

.shop-information {
  width: 560px;
  padding-left: 139px;
  margin-right: 39px;
}

.contacts {
  width: 560px;
  padding-right: 139px;
}

.shop-information__title,
.contacts__title {
  margin-bottom: 59px;

  color: #000000;
  font-family: 'Gilroy', 'Arial', sans-serif;
  font-size: 47px;
  font-weight: 800;
  letter-spacing: 0.21px;
  line-height: 48px;
}
/* Информация о магазине и контакты офиса*/
.shop-information__text,
.contacts__text {
  margin-bottom: 39px;

  color: #615959;
  font-family: 'Open Sans', 'Arial', sans-serif;
  font-size: 15px;
  font-weight: 300;
  letter-spacing: 0;
  line-height: 30px;
}

.shop-information__list {
  margin-top: 67px;

  list-style: circle;
  list-style-image: url(../img/list-style-circle.svg);
}

.shop-information__link {
  color: #000000;
  font-family: 'Open Sans', 'Arial', sans-serif;
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 0;
  line-height: 40px;
  text-decoration: none;
}

.shop-information__button {
  margin-top: 60px;
  margin-bottom: 90px;
}

.contacts__button {
  margin-top: 77px;
  margin-bottom: 90px;
}

/* Модальное окно формы обратной связи */
.button_modal-size {
  width: 200px;
}

.button_modal-size::before {
  width: 200px;
}
.write-message-modal-form__label {
  color: #000000;
  font-family: 'Gilroy', 'Arial', sans-serif;
  font-size: 18px;
  font-weight: 800;
  letter-spacing: 0;
  line-height: 24px;
}

.write-message-modal-form__input,
.write-message-modal-form__text-input,
.write-message-modal-form__input::placeholder {
  color: #464646;
  font-family: 'Open Sans', 'Arial', sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 18px;
}

/* Каталог товаров */
.main__title {
  margin-top: 37px;
  margin-left: 199px;
  margin-bottom: 24px;

  color: #000000;
  font-family: 'Gilroy', 'Arial', sans-serif;
  font-size: 47px;
  font-weight: 800;
  letter-spacing: 0.91px;
  line-height: 48px;
}

/* Хлебные крошки */
.breadcrumbs {
  display: flex;
  margin: 0;
  margin-left: 199px;
  padding: 0;

  list-style: none;
}

/* Фильтры и сортировка */
.breadcrumbs__link,
.catalog-sort__link,
.breadcrumbs__item_current,
.catalog-filters-form__label {
  color: rgba(0, 0, 0 ,0.3);
  font-family: 'Open Sans', 'Arial', sans-serif;
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 0.14;
  line-height: 24px;
  text-decoration: none;
}

.catalog-sort {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  width: 972px;
  padding-left: 73px;

  background-color: rgba(0, 0, 0 ,0.08);
}

.catalog-sort__link {
  margin-left: 30px;

  font-weight: 400;
  letter-spacing: 0;
  line-height: 18px;
}

.catalog-sort__link:first-child {
  margin-left: 55px;
}

.catalog-sort__link:nth-of-type(1) {
  margin-left: 55px;
}

.catalog-sort__link_active {
  color: #000000;
}

.breadcrumbs__link:hover,
.breadcrumbs__link:focus,
.catalog-sort__link:hover,
.catalog-sort__link:focus {
  color: rgba(0, 0, 0 ,0.6);
}

.breadcrumbs__link:active,
.catalog-sort__link:active {
  color: rgba(0, 0, 0 ,0.1);
}

/* Раздел с фильтрами */
.catalog-columns {
  
}

.catalog-columns-wrapper {
  display: flex;
  margin-top: 46px;
}

.catalog-filters {
  width: 468px;
}

.catalog-filters__title,
.catalog-sort__title {
  height: 70px;
  margin: 0;

  color: #000000;
  font-family: 'Gilroy', 'Arial', sans-serif;
  font-size: 16px;
  font-weight: 800;
  letter-spacing: 3.5px;
  line-height: 70px;
  text-transform: uppercase;
}

.catalog-filters-form__legend {
  color: #000000;
  font-family: 'Gilroy', 'Arial', sans-serif;
  font-size: 18px;
  font-weight: 800;
  letter-spacing: 0.18px;
  line-height: 24px;
}

.catalog-filters__title {
  padding-left: 201px;

  background-color: #dbdbdb;
}

.catalog-filters__form {
  background-color: #efefef;
}

.catalog-filters__form {
  padding-left: 201px;
  padding-right: 140px;
}

.catalog-filters-form__label {
  color: #000000;
  line-height: 39px;
}
/* Раздел с товарами */
.catalog {
  padding-left: 72px;
  padding-right: 140px;
}

.catalog__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 761px;
  margin: 0;
  padding: 0;

  list-style: none;
}

.catalog-item__link {
  color: #000000;
  font-family: 'Gilroy', 'Arial', sans-serif;
  font-size: 18px;
  font-weight: 800;
  letter-spacing: 0.18px;
  line-height: 24px;
  text-decoration: none;
}

.catalog-item__price {
  color: #464646;
  font-family: 'Gilroy', 'Arial', sans-serif;
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 0.16px;
  line-height: 24px;
}

.catalog-item__buy {

}
.catalog-item__compare {
  color: rgba(0, 0, 0 ,0.5);
  font-family: 'Open Sans', 'Arial', sans-serif;
  font-size: 13px;
  font-weight: 300;
  letter-spacing: 0.13;
  line-height: 36px;
  text-decoration: none;
}

.catalog-item__compare:hover,
.catalog-item__compare:focus {
  color: #000000;
}

.catalog-item__compare:active {
  color: rgba(0, 0, 0 ,0.2)
}

/* Пагинация */
.pagination {
  background-color: #ebebeb;

  list-style: none;
}

.pagination__link,
.pagination__item {
  color: #000000;
  font-family: 'Gilroy', 'Arial', sans-serif;
  font-size: 16px;
  font-weight: 800;
  letter-spacing: 3.5px;
  line-height: 24px;
  text-decoration: none;
  text-transform: uppercase;
}

.pagination__link_back:hover,
.pagination__link_forward:hover,
.pagination__link_back:focus,
.pagination__link_forward:focus {
  background-color: #d8d8d8;
}

.pagination__link_forward:active,
.pagination__link_back:active {
  color: rgba(0, 0, 0 ,0.3);
}

.pagination__link_nav {
  color: rgba(0, 0, 0 ,0.3);
}

.pagination__link_nav:hover,
.pagination__link_nav:focus {
  color: rgba(0, 0, 0 ,0.6);
}

.pagination__link_nav:active {
  color: #000000;
}

/* Футер сайта */
.footer {
  padding-top: 59px;
  padding-right: 140px;
  padding-left: 140px;
  padding-bottom: 67px;
  background-color: #464646;
}

.footer-inner {
  display: flex;
  align-items: center;
} 

.footer-inner:nth-of-type(2) {
  margin-top: 59px;
  margin-bottom: 64px;
} 

.logo_footer {
  margin-right: 697px;
}

.user-account_footer {
  margin: 0;
  margin-right: 64px;
  padding: 0;
}

.footer__text:first-child {
  margin: 0;
  margin-right: auto;

  color: #ffffff;
}

.footer__text:last-child {
  margin: 0;
  margin-left: auto;

  color: #ffffff;
}

.navigation-list_footer {
  margin: 0;
}

.navigation-list__item_footer {
  margin-right: 37px;
}

.navigation-list__item_footer:last-child {
}

.footer__tel-link {
  color: #ffffff;
  text-decoration: none;
}

.basket_footer_color,
.compare-button_footer_color,
.user-account-button_footer_color,
.navigation-list__link_footer_color {
  color: #ffffff;
}

.basket_footer_color:hover,
.basket_footer_color:focus,
.compare-button_footer_color:hover,
.compare-button_footer_color:focus,
.user-account-button_footer_color:hover,
.user-account-button_footer_color:focus,
.navigation-list__link_footer_color:hover,
.navigation-list__link_footer_color:focus {
  color: rgba(255, 255, 255 ,0.6);
}

.basket_footer_color:active,
.compare-button_footer_color:active,
.user-account-button_footer_color:active,
.navigation-list__link_footer_color:active,
.navigation-list__link_footer_color:active {
  color:  rgba(255, 255, 255 ,0.3);
}

.socials {
  display: flex;
  margin: 0 auto;
  padding: 0;

  list-style: none;
}

.socials__item {
  margin-right: 23px;
}

.socials__item:last-child {
  margin-right: 0;
}

.footer__copyright {
  display: block;
  width: 27px;
  height: 35px;

  background-image: url("../img/logo-html.svg");
  background-position: 0 0;
  background-repeat: no-repeat;
}

.socials__link {
  display: block;
  width: 32px;
  height: 32px;

  background-position: 0 0;
  background-repeat: no-repeat;
  opacity: 0.3;
}

.socials__link:hover,
.socials__link:active,
.footer__copyright:hover,
.footer__copyright:focus {
  opacity: 0.6;
}

.socials__link:active {
  opacity: 0.1;
}

.footer__copyright:active {
  opacity: 0.3;
}

.socials__link-fb {
  background-image: url("../img/fb.svg");
}

.socials__link-instagram {
  background-image: url("../img/instagram.svg");
}

.socials__link-twitter {
  background-image: url("../img/twitter.svg");
}